.home{
    font-family: "poppins";
    position: relative;
    color: #f5f9ff;
    display: flex;
    margin: 100vh 15vw 1vh 15vw;
    .left{
        position: fixed;
        top: 16vh;
        left: 14vw;
        .span{
            line-height: 45px;
            .big{
                font-size: 45px;
                font-weight: bold;
                a{
                  text-decoration: none;
                  color: #f5f9ff;
                }
            }
            .med{
                font-size: 22px;
            }
            .small{
                color:#8896ab;
                line-height: 24px;
            }
            
            .menu{
              margin-top: 7vh;
              font-size: 14px;
              ul{
                li{
                  list-style: none;
                  line-height: 40px;
                  color: #5f6e85;
                  transition: 0.2s;
                  a{
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    gap: 0.5vw;
                    .line{
                      width: 40px;
                      height: 1.1px;
                      transition: 0.25s;
                      background-color: #5f6e85;
                    }
                  }

                  &:hover{
                    color: #f5f9ff;
                    .box{
                      left: 0;
                    }
                    a{
                      .line{
                        width: 60px;
                        background-color: #f5f9ff;
                      }
                    }
                  }
                  &:active{
                    color: #f5f9ff;
                  }
                }
              }
            }
            .social{
              display: flex;
              align-items: center;
              gap: 1vw;
              margin-top: 20vh;
            }
        }
    }
    .right{
      margin-left: 34.5vw;
      color: #9aabc3;
    }
}