.app{
  margin: 0;
  width: 100%;
  background: #0F172A;
  color: whitesmoke;
  position: relative;
  overflow: hidden;
}
 /* Designing for scroll-bar */
 ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F172A;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4ec1b4;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e8a7f;
}

::-moz-selection { /* Code for Firefox */
  color: #0F172A;
  background: #5eead4;
}

::selection {
  color: #0F172A;
  background: #5eead4;
}
