.first{
    position: relative;
    color: rgb(226, 232, 240);
    &:hover{
        color: rgb(209, 220, 236);
    }
    .image{
        width: 30vw;
        height: 40vh;
        position: absolute;
        right: 20vw;
        top: 7vh;
        z-index: 2;
        img{
            width: 100%;
            object-fit: contain;
            opacity: 1;
        }
    }
    .X{
        position: absolute;
        top: 70vh;
        right: 49.65vw;
        width: 10px;
        height: 20px;
        object-fit: contain;
        z-index: 3;
        transition: 0.2s;
    }
    .verline{
        position: absolute;
        top: 75vh;
        right: 49.97vw;
        height: 15.7vh;
        width: 0.2vh;
        object-fit: cover;
        z-index: 3;
        
    }
    .horline{
        position: absolute;
        top: 95vh;
        left: 14vw;
        z-index: 3;
        transition: 0.1s;
    }
    .abtimg{
        position: absolute;
        top: 110vh;
        right: 0;
        width: 6vw;
        transition: 0.2s;
    }
    .verskill{
        position: absolute;
        top: 330vh;
        right: 0;
        width: 6vw;
        transition: 0.2s;
    }
    .verpro{
        position: absolute;
        top: 330vh;
        right: 0;
        width: 6vw;
        transition: 0.2s;
    }
    .horskill{
        position: absolute;
        top: 193vh;
        left: 150vw;
        height: 10vh;
        transition: 0.2s;
    }
    .horpro{
        position: absolute;
        top: 193vh;
        left: 150vw;
        height: 10vh;
        transition: 0.2s;
    }
    .verline2{
        position: absolute;
        top: 75vh;
        right: 49.97vw;
        height: 15.7vh;
        width: 0.2vh;
        object-fit: cover;
        z-index: 3;
        transition: 0.15s;
    }
    .about{
        .test2{
            position: absolute;
            top: 100vh;
            left: 80vw;
            height: 10vh;
            transition: 0.2s;
        }
    }
    .puneeth{
        position: absolute;
        right: 3vw;
        z-index: 2;
        width: 30vw;
        top: 25vh;
        transition: 0.3s;
    }
    .reddy{
        position: absolute;
        right: 3vw;
        z-index: 2;
        width: 30vw;
        top: 42vh;
        transition: 0.3s;
    }
    .horline2{
        margin-left: 200vw;
    }
}