.first{
    position: relative;
    color: rgb(226, 232, 240);
    &:hover{
        color: rgb(209, 220, 236);
    }
    .image{
        width: 30vw;
        height: 40vh;
        position: absolute;
        right: 20vw;
        top: 7vh;
        z-index: 2;
        img{
            width: 100%;
            object-fit: contain;
            opacity: 1;
        }
    }
    .X{
        position: absolute;
        top: 70vh;
        right: 49.65vw;
        width: 10px;
        height: 20px;
        object-fit: contain;
        z-index: 3;
    }
    .X2{
        position: absolute;
        top: 40.25vh;
        left: 14.5vw;
    }
    .verline{
        position: absolute;
        top: 75vh;
        right: 49.97vw;
        height: 15.7vh;
        width: 0.2vh;
        object-fit: cover;
        z-index: 3;
        
    }
    .abtimg{
        position: absolute;
        top: 100vh;
        right: 0;
        width: 6vw;
    }
    .verskill{
        position: absolute;
        top: 100vh;
        right: 0;
        width: 6vw;
    }
    .horskill{
        position: absolute;
        top: 100vh;
        left: 80vw;
        height: 10vh;
    }
    .verline2{
        position: absolute;
        top: 75vh;
        right: 49.97vw;
        height: 15.7vh;
        width: 0.2vh;
        object-fit: cover;
        z-index: 3;
    }
    .about{
        .test2{
            position: absolute;
            top: 100vh;
            left: 80vw;
            height: 10vh;
        }
    }
    .horline{
        position: absolute;
        top: 41vh;
        left: 16vw;
        z-index: 2;
    }
    .horline2{
        margin-left: 200vw;
    }
}